
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div id="user-list">

                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="user-item">
                        <div class="user_Cover cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true"></div>
                        <div class="user_Profile">
                            <div class="avatar" style="background-image: url(assets/img/a0.png);"></div>
                            <div class="user-info">
                                <div class="user-name"><a href="@Url.Action("Index","Profile")" title="">@string.Format("@{0}", "John.smith")</a></div>
                                <small class="user-subtitle">At least we are happy in the dreams room is enough.</small>
                                <button>Takip Et</button>
                            </div>
                            <div class="user-following">
                                <div class="user-follow">
                                    <small>99</small>
                                    Takipçi
                                </div>
                                <div class="user-follow">
                                    <small>99</small>
                                    Takip Edilen
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="user-item">
                        <div class="user_Cover cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true"></div>
                        <div class="user_Profile">
                            <div class="avatar" style="background-image: url(assets/img/a0.png);"></div>
                            <div class="user-info">
                                <div class="user-name"><a href="@Url.Action("Index","Profile")" title="">@string.Format("@{0}", "John.smith")</a></div>
                                <small class="user-subtitle">At least we are happy in the dreams room is enough.</small>
                                <button>Takip Et</button>
                            </div>
                            <div class="user-following">
                                <div class="user-follow">
                                    <small>99</small>
                                    Takipçi
                                </div>
                                <div class="user-follow">
                                    <small>99</small>
                                    Takip Edilen
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="user-item">
                        <div class="user_Cover cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true"></div>
                        <div class="user_Profile">
                            <div class="avatar" style="background-image: url(assets/img/a0.png);"></div>
                            <div class="user-info">
                                <div class="user-name"><a href="@Url.Action("Index","Profile")" title="">@string.Format("@{0}", "John.smith")</a></div>
                                <small class="user-subtitle">At least we are happy in the dreams room is enough.</small>
                                <button>Takip Et</button>
                            </div>
                            <div class="user-following">
                                <div class="user-follow">
                                    <small>99</small>
                                    Takipçi
                                </div>
                                <div class="user-follow">
                                    <small>99</small>
                                    Takip Edilen
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="user-item">
                        <div class="user_Cover cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true"></div>
                        <div class="user_Profile">
                            <div class="avatar" style="background-image: url(assets/img/a0.png);"></div>
                            <div class="user-info">
                                <div class="user-name"><a href="@Url.Action("Index","Profile")" title="">@string.Format("@{0}", "John.smith")</a></div>
                                <small class="user-subtitle">At least we are happy in the dreams room is enough.</small>
                                <button>Takip Et</button>
                            </div>
                            <div class="user-following">
                                <div class="user-follow">
                                    <small>99</small>
                                    Takipçi
                                </div>
                                <div class="user-follow">
                                    <small>99</small>
                                    Takip Edilen
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="user-item">
                        <div class="user_Cover cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true"></div>
                        <div class="user_Profile">
                            <div class="avatar" style="background-image: url(assets/img/a0.png);"></div>
                            <div class="user-info">
                                <div class="user-name"><a href="@Url.Action("Index","Profile")" title="">@string.Format("@{0}", "John.smith")</a></div>
                                <small class="user-subtitle">At least we are happy in the dreams room is enough.</small>
                                <button>Takip Et</button>
                            </div>
                            <div class="user-following">
                                <div class="user-follow">
                                    <small>99</small>
                                    Takipçi
                                </div>
                                <div class="user-follow">
                                    <small>99</small>
                                    Takip Edilen
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12">
                    <div class="user-item">
                        <div class="user_Cover cover-container" style="background-image: url('assets/img/cover.jpeg')" data-clickable="true"></div>
                        <div class="user_Profile">
                            <div class="avatar" style="background-image: url(assets/img/a0.png);"></div>
                            <div class="user-info">
                                <div class="user-name"><a href="@Url.Action("Index","Profile")" title="">@string.Format("@{0}", "John.smith")</a></div>
                                <small class="user-subtitle">At least we are happy in the dreams room is enough.</small>
                                <button>Takip Et</button>
                            </div>
                            <div class="user-following">
                                <div class="user-follow">
                                    <small>99</small>
                                    Takipçi
                                </div>
                                <div class="user-follow">
                                    <small>99</small>
                                    Takip Edilen
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- #user-list -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- #wrapper -->

